body {
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
}

h1 {
  color: coral;
}

p {
  color: black;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  top: 0;
  font-size: 50px;
  color: coral;
}

img {
  background-color: darkcyan;
  padding: 50px;
  border-radius: 5%;
  margin-top: -250px;
}

.input-group {
  color: black;
  font-size: large;
}

#questionDisplay {
  margin-top: -200px;
}

#timer-div {
  color: red;
  text-align: right;
  margin-right: 20px;
  font-size: 50px;
}

#startQuiz {
  background-color: coral;
  color: whitesmoke;
  padding: 10px;
  border-radius: 20%;
  font-size: 20px;
}

#startQuiz:hover {
  background-color: darkcyan;
}

.questions {
  background-color: coral;
  color: white;
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px;
}

.questions:hover {
  background-color: darkcyan;
}

#main-div {
  margin-top: 100px;
}

#score-div {
  color: black;
  text-align: center;
  margin-bottom: -100px;
  font-size: 100px;
}
