body {
  text-align: center;
  margin: auto;
}

#main-div p {
  color: black;
}

#timer-div {
  color: red;
  text-align: right;
  margin-right: 20px;
}

#startQuiz {
  background-color: coral;
  color: azure;
  padding: 20px;
  border-radius: 15%;
  font-size: 20px;
}
